@font-face {
	font-family: "Minion Pro";
	src: url(../fonts/MinionProRegular.ttf); 
}

@font-face {
	font-family: "Lucida Grande";
	src: url(../fonts/762168.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: "Lucida Grande";
	src: url(../fonts/762154.ttf); 
	font-style: normal; 
	font-weight: bold; 
}

@font-face {
	font-family: "Futura Lt BT";
	src: url(../fonts/6474915457.ttf); 
	font-style: normal; 
	font-weight: 300; 
}

@font-face {
	font-family: "Futura Md BT";
	src: url(../fonts/8051781869.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: "Futura Md BT";
	src: url(../fonts/futura-md-bt-bold.ttf); 
	font-style: normal; 
	font-weight: bold; 
}